<!DOCTYPE html>
<html>
    <head>
        <title>My Webpage</title>
        {{ getNeedleHtml('zebra_form.css') }}
    </head>
    <body>
        <ul id="navigation">
        </ul>

        <h1>My Webpage</h1>
        {% set kiki = {'a_variable':  a_variable} %}
        {{ includePage('jojo.jade', kiki) }}
        
        {{ a_variable }} <br/>
        {{ 'pouet'|translate('test', 'jojo') }} <br/>
        <img src="{{ getResource('@testdep/atos/jojo/atos.jpg').resize(200, 200).meanRemoval() }}"> <br/>
        {{ getResourceHtml('atos/jojo/atos.jpg').resize(50) }} <br/>
        {{ getResource('test.less') }}<br/>
        {{ getResourceHtml('atos.jpg').resize(50) }} <br/>
        {{ getCompressJs() }}<br/>
                {{ getCompressCss() }}<br/>
        {{ getCompressCss(true) }}<br/>
        {{ getToken(true) }}<br/>
        {{ getRoute('title', 'jojo', 'bibi') }}<br/>
        
        <br/>
        <script type="text/javascript">
        
            var successvar = function (result){
                alert(result);
            }
        </script>
        {% include "@testdep/juju.twig" %}
    </body>
</html>