<!DOCTYPE html>
<html>
    <head>
        <title>My Webpage</title>
    </head>
    <body>
        <ul id="navigation">
        </ul>

        <h1>My Webpage</h1>
        {{ a_variable }} <br/>
        {{ 'pouet'|translate('test', 'jojo') }} <br/>
        <img src="{{ getResource('atos/jojo/atos.jpg').resize(200, 200).meanRemoval() }}"> <br/>
        {{ getResourceHtml('atos/jojo/atos.jpg').resize(50) }} <br/>

        {{ getResource('test.less') }}<br/>
        {{ getResourceHtml('atos.jpg').resize(50) }} <br/>
        {{ getCompressJs() }}<br/>
                {{ getCompressCss() }}<br/>
        {{ getCompressCss(true) }}<br/>
        {{ getToken(true) }}<br/>
        {{ getRoute('title', 'jojo', 'bibi') }}<br/>
        {getForm('test', getRoute('default')).ajaxSuccess('successvar') }<br/>
        <script type="text/javascript">
        
            var successvar = function (result){
                alert(result);
            }
        </script>
    </body>
</html>
